@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playwrite+PT+Guides&display=swap');
body{
	background-color: darkblue;
	color: aquamarine;
}

.titulo--1{
	font-size: 70px;
	font-family: "Courgette", Arial;
}

button{
	padding: 15px;
	border: 0;
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

button:hover{
	background-color: gray;
	padding: 16px;
}